@import "../../styles/theme";

.create-project {
	.standard-paper {
		display: flex;
		flex-direction: column;
	}

	.stepper-content {
		flex: 1;
	}
	.stepper-head, .stepper-footer {
		top: 0;
		position: sticky;
		z-index: 1;
	}
	.stepper-footer {
		text-align: right;
		bottom: 0;
		background: $background-color;
	}
}

.tasks-container {
	display: flex;
	flex-wrap: wrap;

	> .task-item {
		margin: $spacing-normal 0 0 $spacing-normal ;
	}
}

.new-task-form {
	width: 200px;
	padding: $spacing-normal;
	background: $highlight-color;
	border: 1px solid $border-color;
}
