@import '../styles/theme';

.project-editable-name {
	background: transparent;
	border: 0;
	font-size: 1.1em;
	padding: 0;
	line-height: 1;
	margin: 0;
	width: 100%;
}

.project-task-headding {
	display: flex;
	font-weight: normal;
	margin-top: $spacing-normal;

	&__text {
		flex: 1;
		font-weight: bold;
	}

	> div {
		display: flex;
		align-items: center;
	}
}
