.project-editable-name {
	background: transparent;
	border: 0;
	font-size: 1.1em;
	padding: 0;
	line-height: 1;
	margin: 0;
	width: 100%;
}

.project-viewer {
	display: flex;
	flex-direction: column;
}