@import "../styles/theme";

.sidebar {
	background: white;
	padding: 0;
	
	width: 250px;

	display: flex;
	flex-direction: column;

	.add-project {
		transition: transform 0.2s ease-out;
	}
}

.sidebar-heading {
	margin: 0;
	padding: 20px;
	font-size: 1.4em;
	
	display: flex;
	
	color: $primary-color;

	&__text {
		display: inline-block;
		flex: 1;
		align-self: center;
	}
}