@import "../../styles/theme";

.folder-name-display {
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	color: $text-color-light;
	display: flex;
	align-items: center;

	&__divider {
		padding-right: 2px;
	}
	&__last-part {
		color: $text-color;
		flex: 1;
	}
	> span:first-child {
		flex-shrink: 1;
		overflow: hidden;
    display: flex;
    justify-content: flex-end;
	}
}